.display-flex {
    display: flex;
}

.bg-gray {
    background: #f7f9fa;
}

.bg-image-red {
    background-image: url(../images/clinical/card-red.png);
    background-position: 0 -2px;
    background-repeat: no-repeat;
}

.bg-image-orange {
    background-image: url(../images/clinical/card-orange.png);
    background-position: 0 -2px;
    background-repeat: no-repeat;
}

.bg-image-green {
    background-image: url(../images/clinical/card-green.png);
    background-position: 0 -2px;
    background-repeat: no-repeat;
}

.border-red {
    border: 0 !important;
    border-top: 5px solid #e43535 !important;
}

.border-orange {
    border: 0 !important;
    border-top: 5px solid #ff903d !important;
}

.border-green {
    border: 0 !important;
    border-top: 5px solid #28c96d !important;
}

.padding20 {
    padding: 20px;
}

.paddingtop10 {
    padding-top: 10px;
}

.paddingtop5 {
    padding-top: 5px;
}

.margin1020 {
    margin: 10px 20px 0 0;
}

.marginleft5 {
    margin-left: 5px;
}

.marginleft15 {
    margin-left: 15px;
}

.margintop30 {
    margin-top: 30px;
}

.margintop20 {
    margin-top: 20px;
}

.margintop15 {
    margin-top: 15px;
}

.margintop10 {
    margin-top: 10px;
}

.margintop5 {
    margin-top: 5px;
}

.marginright5 {
    margin-right: 5px;
}

.width100 {
    width: 100%;
}

.width25 {
    width: 25%;
}

.width50 {
    width: 50%;
}

.image24 {
    height: 24px;
    width: 24px;
}

.image15 {
    height: 15px;
    width: 12px;
}

.image2417 {
    height: 17px;
    width: 24px;
}

.symptoms li {
    margin-right: 20px;
}

.symptoms li:before {
    margin-right: -10px;
    content: "";
}

.right-75px {
    right: 75px !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.custom-blue {
    background-color: #0051BF !important;
}

.header-logo-span {
    margin: auto 100px;
}

.navbar-right {
    position: absolute;
    right: 250px;
    font-size: 22px;
}

.text-white {
    color: #ffffff;
}

.border-none {
   border: none !important;
}

.header-tabs {
   margin: 10px; 
}

.header-tabs a {
    font-size: 16px;
    color: #333 !important;
    margin: auto 10px;
}

.bell {
    margin-right: 5px;
    cursor: pointer;
}

.bell-counter {
    position: relative;
    top: -10px;
    left: -16px;
    padding: 2px;
    border-radius: 50%;
    background: white;
    color: #0051bf;
    font-size: 10px;
    font-family: "Roboto";
}

 header .full-width-divider .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-bottom: 5px solid #0051BF;
    border-left: none;
    border-right: none;
    border-top: none;
}

.user-profile-icon {
    height: 35px;
    width: 35px;
}

.user-name {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 5px;
}

.container-background {
    background-color: #e4f1fd;
}

.tab-panel a {
    color: #333;
}

.full-width-divider:after {
    content: "" !important;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

.full-width-divider .nav-tabs {
    border-bottom: none;
}

.full-width-divider .nav-tabs li {
    margin-bottom: 0;
}

.full-width-divider .nav-tabs>li>a {
    margin-right: 0;
    line-height: 1.42857143; 
    border: none; 
}
.nav>li>a:hover {
    background-color: #fff;
}

.nav-tabs.nav-tabs-margin {
    margin: auto 235px;
}

.nav-tabs .tab-panel-margin {
    margin: 30px 30px;
}

.tab-content .custom-tab-pane.active {
    display: flex;
    margin: 50px auto;
}

.my-patients {
    width: 50%;
    margin-right: 30px;
}

.risk-patients-tabs {
    background: #fff;
    border: 1px solid #0051BF;
}

.risk-patients-tabs .nav-tabs>li>a {
    border: none;
}

/* .risk-patients-tabs .risk-tabs.nav-tabs>li {
    margin: auto;
} */

.risk-patients-tabs .tab-panel:not(:last-child) {
    border-right: 1px solid #0051BF;
}

.risk-patients-tabs .risk-tabs.nav-tabs>li.active>a {
    background-color: #0051BF;
    color: #fff;
}

.nav.risk-tabs li a {
    padding: 6px 36px;
}

.custom-tab-pane .risk-patients-tabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover {
    border: none;
    border-radius: 0;
    margin-right: 0;
}

/* Cards */

.custom-card-title {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600 !important;
}

.custom-card-subtitle {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600 !important;
}

.text-body {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600 !important;
}

.text-body-regular {
    font-family: "Open Sans";
    font-size: 14px;
}

.border-bottom-gray {
    padding-bottom: 12px;
    border-bottom: 1px solid #dddddd;
}

.color-blue {
    color: #0051bf;
}

.color-dark {
    color: #424242;
}

.color-red {
    color: #e43535;
}



.cards-row {
    display: flex;
}

.custom-col-sm-4.col-sm-4 {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dddddd;
}

.custom-card.card {
    width: 35rem;
    margin: 15px auto;
    box-shadow: none;
}